
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #ffffff;
    background-image: url('../imagenes/logo-F1.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 380px;
}

h2, h3, legend {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-right: 2px;
}

main.contenedor1 {
    display: flex;
    gap: 20px;
    align-items: stretch; 
    margin: 20px;
}

section.contenido {
    width: 80%;
    text-align: center;
}

header.Galeria {
    border-radius: 7px;
    padding: 30px; 
    text-align: center;
}

header.Galeria h2 {
    font-size: 45px;
    margin: 10px 0 25px 0;
}

.datoss {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.filaflex {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    flex-wrap: wrap;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;    
    
}

label {
    font-size: 22px;
    margin-bottom: 8px;
    color: #000000;
}

input[type="text"],input[type="number"],input[type="file"],select,textarea {
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 0px;
    background-color: #FF1E00;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
}

textarea {
    resize: vertical;
    min-width: 300px;
}

button#boton {
    background-color: #FF1E00;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 28px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
}

button#boton:hover {
    background-color: #FF1E00;
}

fieldset.cuadroRelacion, fieldset.campoRadio {
    border: 2px dashed #ffffff;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 7px;
    width: 90%;
}

legend {
    font-size: 26px;
    padding: 0 10px;
    color: #FF1E00;
}


aside.menuLateral {
    width: 20%; 
    background-color: #FF1E00;
    text-align: center;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

aside.menuLateral h3 {
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 15px;
}

aside.menuLateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

aside.menuLateral a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.2s ease;
}

aside.menuLateral a:hover {
    background-color: #ffffff;
}


footer.conFooter {
    margin: 20px;
}

section.footerIzq {
    width: 100%;
    background-color: #FF1E00;
    border-radius: 7px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

section.footerIzq p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}